<html>
<body>

  <nav class="navbar navbar-expand-md navbar navbar-light fixed-top " style="background-color: #137de0;">
    <a class="navbar-brand text-white">BloodSugar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#/homePage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/inputForm">InputForm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/report">BloodSugarReport</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#/viewPharmacy">Pharmacy</a>
        </li>
      </ul>
    </div>
					<button type="submit" class="btn btn-warning" ng-click="logout()">Logout</button>
  </nav>
	<br><br><br>

  <main role="main">

		<div class="container">
			<!-- Example row of columns -->

        <table class="table table-striped" style= "text-align: center;">
           <thead>
             <tr>
               <th>Pharmacy Name</th>
               <th>Pharmacy Address</th>
               <th>Pharmacy Number</th>
               <th>Pharmacy Fax</th>
               <th>Select/Add</th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat = "entry in pharmacy_data">
              <td>{{entry.pharm_name}}</td>
              <td>{{entry.pharm_adr}}</td>
              <td>{{entry.pharm_num}}</td>
              <td>{{entry.pharm_fax}}</td>
              <td><button type="submit" class="btn btn-primary btn-block" ng-click="selectmyPharmacy(entry.pharm_number)">Add</button></td>

        
             </tr>
           </tbody>
         </table>


			<br>


    </div>


  </main>


</body>
</html>
